<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field">
    <%= label_tag 'Attachment Files' %>
    <div class='alert alert-secondary'>
      <div id="preview_file_attachments" style='height:auto;'>
        <%= render 'preview_file_attachment', post: form.object %>
      </div>
      <div class="custom-file" data-controller='file-upload' style='height: auto;'>
        <%= form.file_field :files, multiple: true, id: 'customFile', class: 'custom-file-input', data: { target: 'file-upload.files'} %>
        <%= form.label :files, 'Choose Files', for: 'customFile', class: 'custom-file-label' %>
      </div>
    </div>
  </div> 

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>